<form class="campaign-form">
    <input type="text" name="name" placeholder="Name" required>
    <div class="error-message" data-for="name"></div>
    
    <input type="email" name="email" placeholder="Email" required>
    <div class="error-message" data-for="email"></div>
    
    <input type="number" name="phone" placeholder="Phone" class="intl-phone" required>
    <div class="error-message hide intl-error" data-for="phone"></div>
    
    <input type="hidden" name="campaign_name" value="Campaign_Name" required>
    
    <button type="submit">Submit</button>
    <div class="error-message" data-for="error"></div>
</form>
<form class="campaign-form">
    <input type="text" name="name" placeholder="Name" required>
    <div class="error-message" data-for="name"></div>
    
    <input type="email" name="email" placeholder="Email" required>
    <div class="error-message" data-for="email"></div>
    
    <input type="number" name="phone" placeholder="Phone" class="intl-phone" required>
    <div class="error-message hide intl-error" data-for="phone"></div>
    
    <input type="hidden" name="campaign_name" value="Campaign_Name" required>
    
    <button type="submit">Submit</button>
    <div class="error-message" data-for="error"></div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

<script src="script.js"></script>
<script src="../telephone_flags/script.js"></script>
