<IfModule mod_rewrite.c>
RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /index.html [L]
RewriteRule ^branding-india/$ /branding-page-india.html [L]
RewriteRule ^thankyou/$ /thankyou.html [L]
RewriteRule ^website-design-company/$ /website-design-company.html [L]

</IfModule>
