@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Poppins';
    /* color:white; */
}

.cs-container{

    width:100%;
    margin:0px auto;
    padding:0px 150px;
}

.cs-row{

    display:flex;
    flex-wrap:wrap;
}

img{

    max-width:100%;
}

img.darker{

    transition: all 0.7s ease-in-out;
}

img.darker:hover{

    filter: brightness(70%);
}

span{

    color:#f05123;
    font-weight:700;
}

/* branding header section */

.branding-header-section {
    background-color: #161616;
    padding: 11rem 0rem 10rem 0rem;
    position: relative;
}

.move-2{

    position:absolute;
}

.branding-header h1{

    font-weight:400;
    font-family:'Poppins';
    line-height:1.2em;
    font-size:120px;
}

.branding-info{

    margin-top:1rem;
    margin-bottom:1rem;
}

/* brand psych sction */

.brand-psych-right-header{

    max-width:600px;
    margin-top:-3rem;
}

.para-info-1,
.para-info-2{

    font-family:'Overpass', sans-serif;
    font-weight:400;
    font-size:30px;
    line-height:1.6em;
    color:white;
}

.para-info-2{

    margin-bottom:3rem;
}

.btn{

    color:white;
    width:320px; 
    padding:15px 30px;
    border:1px solid white;
    transition: transform .4s ease-in-out;
    /* position:absolute; */
}

.btn:hover{

    background-color:white;
    color:black;
    transform:scale(1.1);
    border:none;
}

.branding-header h1{

    margin-top:5rem;
}

.branding-header-section a{

    font-family:'Roboto';
    font-weight:500;
    text-decoration:none;
    letter-spacing:2.5px;
    display:inline-block;
}

.brand-psych-section{

    background-color:#2c2c2c;
    padding:100px 0px;
    position:relative;
}

.brand-psych-section .cs-row{

    justify-content:center;
    align-items:center;
}

.brand-psych{

    display:flex;
    justify-content:center;
    align-items:Center;
}

.brand-psych-left{

    width:50%;
}

.brand-psych-right{

    width:50%;
}

.brand-psych-right{

    padding-left:4rem;
}



.brand-psych-right-header h1{

    font-family:'Poppins';
    font-weight:500;
    line-height:1.2;
    font-size:4em;
}

.brand-psych-info p{

    font-family:'Overpass';
    font-weight:300;
    font-size:15px;
    line-height:1.8em;
    color:#E4E4E4;
    max-width:600px;
    margin-top:1.5rem;
    margin-bottom:1.5rem;
}

.brand-psych-info{

    margin-bottom:2.5rem;
}

.btn-sec{

    background:#2c2c2c;
    color:white;
    border:1px solid white;
    padding:15px 30px;
    width:182px;
    transition: transform .4s ease-in-out;
    /* position:absolute; */
}

.btn-sec:hover{

    background:white;
    color:black;
    transform:scale(1.1);
    border:none;
}

.move-1{

    position:absolute;
}

.brand-psych span{

    font-weight:500;
}

.brand-psych a{

    font-family:'Roboto';
    font-weight:500;
    text-decoration:none;
    letter-spacing:2.7px;
    display:inline-block;
}

/* branding vido */

.branding-video{

    display:flex;
}

/* impact section */

.impact-section{

    background-color:#323232;
    margin:0px auto;
    padding:5% 0% 2.5% 0%;
    
}

.impact-section span{

    font-weight:500;
}

.impact-section-header h1{

    font-size:4em !important;
    font-family:'Poppins';
    font-weight:500;
    text-align:center;
    margin-bottom:3rem;
    color:white !important;
}

.impact-section-images a{

    cursor:pointer;
}
.impact-section .cs-row{

    justify-content:center;
    align-items:center;
}

.impact-section-images{

    display:flex;
    flex-wrap:wrap;
    width:100%;
    justify-content:center;
    align-items:center;
}

.impact-1{

    margin-right:50px;
}

.impact-1:nth-child(3),
.impact-1:nth-child(6){

    margin-right:0px;
}

.impact-heading{

    margin-top:16px;
    margin-bottom:16px;
}
.impact-heading p,
.impact-info p {

    font-family:'Poppins' !important;
    font-weight:600;
    color:white;
}

.impact-heading p{

    font-size:24px;
}

.impact-info{

    margin-bottom:40px;
}

.visionaries {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('https://cdn.masterinfotech.com/assets/campaign_india/visionary-img.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15rem 10rem;
    position: relative;
}

.move{

    position:absolute;
    bottom:25%;
}

.visionaries .cs-row{

    justify-content:center;
    align-items:center;
}

.visionaries-info p{

    color: #ffffff;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    margin: 0px 0px 25px 0px;
    font-family: "Poppins", Sans-serif;
    font-size: 54px;
    font-weight: 400;
    line-height: 80px;
    text-align:center;
    margin: 0rem auto 3rem auto;
}

.visionaries a{

    font-family:'Roboto';
    font-weight:500;
    text-decoration:none;
    letter-spacing:2.5px;
    display:inline-block;
}

.visionaries .btn{

    width:320px;
}

/* image gallery section */

.image-gallery-section {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: #515151f7;
    margin: l;
    margin-left: 0;
    overflow: auto;
    right: 0;
    z-index: 99;
    display: none;
}

.image-gallery-inner {
    width:80%;
    margin: 0px auto;
    padding: 100px 0px 100px 0px;
    position: relative;
    height: 100%;
    z-index: 999;
    /* display: inline-flex; */
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
}

.image-gallery-section::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.cross-icon {
    position: fixed;
    top: 70px;
    right: 50px;
    color: #fff;
    padding: 10px;
    border-radius: 100%;
    border: 2px solid #fff;
    width: 45px;
    height: 45px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease;
}
.cross-icon:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    border-radius: 0;
}
.cross-icon:hover{
    background-color: #000;
    color: #fff;
    transform: rotate(180deg);
    border: 2px solid #000;
}
.gallery-image img{
    width: 100%;
}
/* .arrows {
    position: fixed;
    width: 100%;
    bottom: 0;
    bottom: 0;
    top: 0;
    margin: auto;
} */
.slider-arrow {
    left: 40px;
    background: #000;
    position: fixed;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    top: 0;
    bottom: 0;
    cursor: pointer;
    margin: auto;
}
.left-arrow{
    left: unset;
    right: 40px;
}
.create-your-compelling{
    line-height: 33px;
}
.per-month{
    margin-top: 10px;
}



@media screen and (max-width:1600px){

    .cs-container{

        padding:0px 100px;
    }

    
}

@media screen and (max-width:1440px){

    .branding-header h1{

        font-size:100px;
        line-height:1em;
    }

    .cs-container {
        padding: 0px 80px;
    }

    .visionaries-info p{

        font-size:45px;
        line-height:70px;
    }

    .visionaries {
        padding: 9rem 5rem;
    }

    .impact-section {
        padding: 3% 0% 1.5% 0%;
    }

    .impact-section-header h1 {
        font-size: 3em !important;
        margin-bottom: 2rem !important;
    }

    .brand-psych-right-header h1 {
        font-size: 3em;
    }

    .brand-psych-section {
        padding: 80px 0px;
    }

    .branding-header-section {
        padding: 6rem 0rem 7rem 0rem;
    }

    .brand-psych-right-header{

        max-width:350px;
    }

    .move {
        bottom: 22%;
    }

    .brand-psych-right-header{

        margin-top:-3rem;
    }
}

@media screen and (max-width:1366px){

    .branding-header h1 {
        font-size: 80px;
    }

    .para-info-1, .para-info-2 {
        
        font-size: 25px;
        line-height: 1.4em;
    }

    .branding-info {
        margin-bottom: -1rem;
    }

    .branding-header-section {
        padding: 4rem 0rem 6rem 0rem;
    }

    .btn {
        
        width: 300px;
        padding: 15px 20px;
    }

    .visionaries .btn {
        width: 300px;
    }

    .visionaries-info p {
        font-size: 45px;
        line-height: 60px;
    }

    .visionaries {
        padding: 5rem 5rem;
    }

    .move {
        bottom: 15%;
    }
}

@media screen and (max-width:1280px){

    .brand-psych-info {
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }

    .brand-psych-right-header{

        margin-top:-5rem;
    }
}

@media screen and (max-width:1200px){

    
    .brand-psych-right-header h1 {
        font-size: 2.5em;
    }

    .brand-psych-right-header{

        margin-top:-4rem;
    }

    .brand-psych-info {
        margin-bottom: -0.5rem;
        margin-top: -0.5rem;
    }

    .brand-psych a{

        letter-spacing:2px;
    }

    .btn-sec{

        width:170px;
    }

}

@media screen and (min-width : 1024px){
    .gif-row {
        display: flex!important;
        flex-direction: row!important;
        flex-wrap: wrap!important;
    }
    .gif-column{
        width: 49%;
    }


}
@media screen and (max-width : 1024px){
    .brand-story-head{
        font-size: 40px!important;
    }
    .brand-story-bold{
        width: 100%;
        display: flex!important;
        font-size: 100px!important;
        line-height: 57px!important;
    }

    .brand-psych-info {
        margin-bottom: 0.5rem;
        margin-top: 0rem;
    }
    .cs-container {
        padding: 0px 60px;
    }

    .branding-header h1 {
        font-size: 65px;
    }

    .brand-psych-right-header h1 {
        font-size: 2em;
    }

    .brand-psych-info p {
        
        line-height: 1.4em;
        margin-top: 0.5rem;
    }

    .brand-psych-info {
        margin-bottom: 1.5rem;
    }

    .btn-sec {
       
        padding: 15px 15px;
        width: 140px;
    }

    .impact-section-header h1 {
        font-size: 2em !important;
        margin-bottom: 1rem !important;
    }

    .visionaries-info p {
        font-size: 40px;
        line-height: 50px;
    }

    .btn {
        
        width:275px;
        padding: 15px 17px;
    }

    .visionaries .btn{

        width:280px;
    }

    .visionaries a,
    .brand-psych a,
    .branding-header-section a{

        letter-spacing:2px;
    }

    .brand-psych-section {
        padding: 60px 0px;
    }

    .impact-heading {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .impact-info {
        margin-bottom: 30px;
    }

    .visionaries {
        padding: 3rem 3rem;
    }

    .move {
        bottom: 10%;
    }
}

@media screen and (max-width:820px){

    .branding-header-section {
        padding: 3rem 0rem 5rem 0rem;
    }

    .branding-header h1 {
        font-size: 50px;
    }

    .para-info-1, .para-info-2 {
        font-size: 22px;
    }

    .cs-container {
        padding: 0px 45px;
    }

    .btn {
        width: 250px;
        padding: 15px 6px;
    }

    .brand-psych-info p {
        line-height: 1.2em;
        margin-top: 0.5rem;
        font-size:12px;
    }

   

    .btn-sec {
        padding: 9px 9px;
        width: 128px;
    }

    .visionaries .btn {
        width: 260px;
    }

    .visionaries-info p {
        font-size: 35px;
        line-height: 45px;
    }

    .visionaries {
        padding: 2rem 2rem;
    }

    .move {
        bottom: 6%;
    }
}

@media screen and (max-width:768px){

    .brand-psych{

        display:flex;
        flex-direction:column;
    }

    .brand-psych-right-header{

        max-width:100%;
    }

    .impact-1{

        margin-right:0px;
    }

    .brand-psych-left{

        width:100%;
    }

    .brand-psych-right{

        width:100%;
        padding-left:0rem;
    }

    .brand-psych-info p{

        max-width:100%;
        font-size:15px;
        line-height:1.4em;
    }

    .brand-psych-right-header{

        margin-top:2rem;
    }

    .visionaries {
        padding: 2rem 1rem;
    }

    .brand-psych-section {
        padding: 45px 0px 70px 0px;
    }
}


@media screen and (max-width : 767px){
    .image-gallery-inner {
        padding: 130px 0px 0px 0px;
    }
    .cross-icon {
        position: fixed;
        top: 140px;
        right: 50px;
        border: 1px solid #000;
        background: #000;
    }

    
}

@media screen and (max-width : 575px){
    .image-gallery-inner {
        padding: 86px 0px 0px 0px;
        width: 90%;
    }
    .cross-icon {
        top: 37px;
        right: 13px;
        padding: 5px;
        width: 30px;
        height: 30px;
        background: #000;
    }
    .gallery-image img {
        width: 100%;
    }
    .image-gallery-section{
        height: 100%;
    }
    .elementor-15 .elementor-element.elementor-element-0311e1e.elementor-element{
        width: auto;
    }
    .create-your-compelling .brand-story-bold {
        font-size: 73px!important;
        line-height: 30px;
        letter-spacing: 5px!important;
        line-height: 38px!important;
    }

    .branding-header h1 {
        font-size: 35px;
    }

    .para-info-1, .para-info-2 {
        font-size: 18px;
    }

    .cs-container {
        padding: 0px 15px;
    }

    .branding-header-section {
        padding: 1rem 0rem 4.5rem 0rem;
    }

    .visionaries a, .brand-psych a, .branding-header-section a {
        letter-spacing: 1px;
    }

    .btn {
        width: 205px;
        padding: 15px 6px;
        font-size:14px;
    }

    .brand-psych-section {
        padding: 30px 0px 60px 0px;
    }

    .brand-psych-right-header {
        margin-top: 1rem;
    }

    .visionaries .btn {
        width: 208px;
    }

    .impact-1{

        margin-right:0;
    }

    .move{

        bottom:6%;
    }

    .visionaries-info p {
        font-size: 30px;
        line-height: 35px;
    }
    
}

@media screen and (max-width:414px){

    .branding-header h1 {
        font-size: 30px;
    }

    .impact-section-header h1 {
        font-size: 1.5em !important;
        margin-bottom: 1rem !important;
    }

    .visionaries-info p {
        font-size: 30px;
        line-height: 40px;
    }
}

@media screen and (max-width:375px){

    .branding-header h1 {
        font-size: 28px;
    }
}
