* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Poppins', sans-serif; 
}
:root {
    --main-pad: 0rem 10rem;
    --black: #303030;
	--orange:  #F05123;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #303030;
    font-family: 'Poppins', sans-serif;font-size:14px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #303030; font-family: 'Poppins', sans-serif;font-size:14px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #303030; font-family: 'Poppins', sans-serif;font-size:14px;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #303030; font-family: 'Poppins', sans-serif; font-size:14px;
  }


footer{
    background-color:#303030;
    padding:var(--main-pad);
}
.footer-contact-form{display:flex;padding-top:7rem;padding-bottom:5rem;}

.footer-contact-form>div{width:50%;}
.footer-contact-form>div:last-child{padding-top:2rem;padding-left:2rem;}
.footer-contact-form h3{
        color: #FFFFFF;
        font-size: 50px;
        font-weight: 400;
        line-height: 1.3em;
        padding: 2rem 0rem;
    
}
.footer-contact-form h1{
    color: #f05123;
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    letter-spacing: 14.5px;
    padding:3rem 0rem;
    
}

.footer-contact-form h4{
        color: #FFFFFF;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.6em;
}


.footer-contact-form input {
    width: 100%;
    max-width: 100%;
    border: 0;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    color: #c7c8c9;
    vertical-align: middle;
    flex-grow: 1;
    margin: 0.5rem 0rem;
    padding: 0.7rem;
}
.footer-contact-form input::placeholder {
    color:#c7c8c9;
}
.submit-btn{text-align:center;padding:2rem 0rem;}
.white-btn {
    color: #fff;
    background-color: transparent;
    border: 1.5px solid #fff;
    padding: 0.5rem 1.5rem;
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;

}
.white-btn:hover{
    color: #303030;
    background-color: #fff;

}

.footer-last{display:flex;}
.footer-last>div{width:50%;}
.footer-last>div:first-child{text-align:left;}
.footer-last>div:last-child{text-align:right;}
.footer-last p{
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 300;
        text-transform: none;
        font-style: normal;
        text-decoration: none;
        line-height: 1.5em;
        letter-spacing: 0px;
        padding:2rem 0rem;
    
}
.footer-new{margin-top:5rem;}
.footer-last i{color:#fff;padding-left:20px;font-size:30px;}
.client-hd h2{
        color: #F0F0F0;
        font-size: 40px;
        font-weight: 600;
        text-transform: none;
        font-style: normal;
        text-decoration: none;
        line-height: 1.1em;
        letter-spacing: -0.28px;
        word-spacing: 0em;
}
.footer-client{text-align:center;padding:5rem 0rem;}
.client-list{display:flex;justify-content: space-between;padding:4rem 08rem 2rem;text-align:left;flex-wrap:wrap;}
.client-pt{width:45%;padding:1rem 0rem 3rem;}
.client-pt p{
        color: #F0F0F0;
        font-size: 18px;
        font-weight: 400;
        text-transform: none;
        font-style: normal;
        text-decoration: none;
        line-height: 1.5em;
        letter-spacing: 1px;
        word-spacing: 0em;
}
.client-hd p{
    color: #F0F0F0;
    font-size: 24px;
    font-weight: 500;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    padding:1rem 0rem;
    line-height: 1.3em;
    letter-spacing: -0.13px;
    word-spacing: 0em;
}
.client-img{display:flex;column-gap:2rem;padding:1rem 0rem;align-items:center;}
.client-img h4{
    color: #F0F0F0;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 2em;
    letter-spacing: 0px;
    word-spacing: 0em;
}
.client-img .cl-img{width:15%;}
.client-img .cl-img img{border-radius: 50%; width:100%;}
.client-img h5 {
        color: #F0F0F0;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        font-style: normal;
        text-decoration: none;
        line-height: 1.3em;
        letter-spacing: 0px;
        word-spacing: 0em;
}
@media only screen and (max-width: 768px){	
	:root {
    --main-pad: 0rem 1rem !important;
}
.footer-contact-form h3 {
    font-size: 24px;
}
.footer-contact-form h1 {
    font-size: 40px;padding:1.5rem 0rem;}
    .footer-contact-form h4 {
        font-size: 16px;}
        .footer-contact-form,.footer-last{flex-wrap:wrap;}
        .footer-contact-form>div,.footer-last>div{width:100%;}
        .footer-contact-form>div:last-child {
            padding-top: 2rem;
            padding-left: 0rem;
        }
        .footer-contact-form {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
        .footer-last>div:last-child {
            text-align: left;
        }
        .white-btn{font-size:14px;}
        .client-pt p {
            font-size: 14px;}
        .client-hd h2{font-size:28px;}
        .client-hd p {
            font-size: 18px;}
        .client-pt{width:100%;padding: 1rem 0rem ;}    
        .client-img h4 {
            font-size: 18px;}
        .client-list{padding:02rem 0rem 2rem;}   
        .footer-client{padding:0rem;} 
}
@media only screen and (min-width: 768px) and (max-width: 1024px){	
	:root {
    --main-pad: 0rem 2rem !important;
}
.footer-contact-form h3 {
    font-size: 30px;
}
.footer-contact-form h1 {
    font-size: 60px;}
    .footer-contact-form h4 {
        font-size: 20px;}
    .client-img h4 {
        font-size: 18px;}
    .client-list{padding:04rem 0rem 2rem;}   
    .footer-client{padding:2rem 0rem 5rem;} 
}
@media only screen and (min-width: 1024px) and (max-width: 1200px){
	:root {
    --main-pad: 0rem 6rem !important;
}
.footer-contact-form h3 {
    font-size: 30px;
}
.footer-contact-form h1 {
    font-size: 60px;}
    .footer-contact-form h4 {
        font-size: 20px;}
    .client-list{padding:04rem 0rem 2rem;}   
    .footer-client{padding:2rem 0rem 5rem;}  
    .client-img h4 {
        font-size: 18px;}
}

@media only screen and (min-width: 1200px) and (max-width: 1366px){
	:root {
    --main-pad: 0rem 6rem !important;
}
.footer-contact-form h3 {
    font-size: 30px;
}
.footer-contact-form h1 {
    font-size: 60px;}
    .footer-contact-form h4 {
        font-size: 20px;}
    .client-list{padding:04rem 05rem 2rem;}   
    .footer-client{padding:2rem 0rem 5rem;}     
    .client-img h4 {
        font-size: 20px;}
    }
@media only screen and (min-width: 1366px) and (max-width: 1600px){	
	:root {
    --main-pad: 0rem 8rem;
}
.client-list{padding:4rem 05rem 2rem;}

}
