
*{
    margin: 0;
    padding: 0;
    font-weight: 400;
}
body{
    overflow-x: hidden;
}

:root {
    --main-pad: 0rem 10rem;
    --black: #303030;
	--orange:  #F05123;
}

h1{
   font-size:100px;
   line-height:1; 
   color:#fff;
   font-weight:600;
}
h2{
   font-size: 46px;
   font-weight:600;
   line-height:1.3;
   color:var(--black);
   font-style: normal;
}
h3{
    font-size:24px;
    font-weight:600;
    line-height:1.3;
    color:var(--black);
}
h4{
    font-size:20px;
    font-weight:600;
    line-height:1.3;
    color:var(--black);
    transition:0.2s ease-in-out;
}
p{
  font-size: 16px;
  line-height: 1.5;
  font-weight:500;
  color:#787878;
  font-weight: 400;
}
h2 span{
    color:var(--orange);     font-weight: 600;
}
.active-nav {
    color: var(--orange) !important;
    font-weight: 500 !important;
}

header ul.nav-links {
    margin-bottom: 0;
}
nav {
    width: 100vw;
    background-color: #fff;
    box-shadow: 0 3px 20px rgb(0 0 0 / 20%);
    display: flex !important;
    position: fixed;
    z-index: 10;
    box-shadow: 2px 3px 12px #e2e2e2;
    justify-content: space-between;
    padding: var(--main-pad);
}

/*Styling logo*/
.logo{
    text-align: center;
    display:flex;
    align-items:center;
}
.logo img {
    width: auto;
}
/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    /* align-items: center; */
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    column-gap: 6px;
}
.nav-links li a{
    margin: 0 0.7vw;
    text-transform: uppercase;
    color: var(--black);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
}

.nav-links li {
  /* cursor: pointer; */

    position: relative;
    padding: 20px 0px;
    display: flex;
    align-items: center;
}
.fade:not(.show) {
    opacity: 1 !important;
}
.nav-links li a:hover::before{
    width: 80%;
}

.toggle,
[id^=drop] {
	display: none;
}

nav ul ul {
	display: none;
	position: absolute; 
	/* top: 60px; */
	background: #fff;
	/* width: 300px; */
	list-style: none;
	border-radius: 2px;
	padding-bottom: 15px;
}
nav ul li:hover > ul {
	/* display:inherit; */
    display: block;
}
nav ul ul li {
	width:100%;
	float:none;
	display:list-item;
	position: relative;
	padding: 7px 0px !important;
}
li > a:only-child:after {/* content: ''; */}

/*Styling Button*/

.join2-button {
  color: #0d0c0c;
  background-color: transparent;
  border: 1.5px solid #303030;
  padding: 0.2rem 1rem;
  font-size: 1rem;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform:uppercase;
}
.join2-button:hover {
    color: #fff;
    background-color: #303030;
    border:1.5px solid #303030;
    transition: all ease-in-out 150ms;
}


@media screen and (max-width:768px){
  .join2-button{font-size:14px;letter-spacing:1px;}
}